* {
	margin:0;
	padding:0;
}

.clear {    
	clear: both;
    display: block;
    height: 1px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

//General
ul {list-style-type: none; margin:0!important;}
a {text-decoration:none;}
a:hover {text-decoration:none; }

p {margin:0 0 10px;}

.whitebordered {
text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff,
1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
filter: progid:DXImageTransform.Microsoft.Glow(Color=#ffffff,Strength=1); /* IE<10 */
}

.notwhitebordered {
	text-shadow:none;
	filter:none;
}

.shadowed {
-moz-box-shadow: 2px 2px 3px #333;
-webkit-box-shadow: 2px 2px 3px #333;
box-shadow: 2px 2px 3px #333;
}

.top-shadowed {
-moz-box-shadow: 0px -3px 3px #333;
-webkit-box-shadow: 0px -3px 3px #333;
box-shadow: 0px -3px 3px #333;
}

.bottom-shadowed {
-moz-box-shadow: 0px 3px 3px #333;
-webkit-box-shadow: 0px 3px 3px #333;
box-shadow: 0px 3px 3px #333;
}

.notshadowed {
	box-shadow:none;
}

.rounded {
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.notrounded {
	border-radius:0px;
}